body {
  background-color: black;
}
/*Inicio NAVBAR*/
.navbar {
  /* padding navbar, para que este mas centrado*/
  padding-left: 150px;
  padding-right: 154px;
}
.navbar-brand {
  /*letras de todo el navbar*/
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: gray;
  opacity: 0.75;
}
.nav-item {
  /*letras al lado del .svg*/
  font-family: "Lato", sans-serif;
  font-weight: 300;

  opacity: 1;
}
/*Fin NAVBAR*/

/* carrousel*/
.carousel-item img {
  /* que el carrousel sea background*/
  max-height: 100vh;
}

/*los titulos h1*/
#titulos {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* Barra hr*/
#barra {
  margin: 0;
  padding: 0;
  border-top: 1px solid white;
  width: 1280px;
  opacity: 1;

}

/* parrafo quienes somos*/
p {
  color: white;
  font-family: "Lato", sans-serif;
}
/* seccion 4 cards*/
.card-title{
  color: white;
  font-weight: 300;
}

.card-text{
  color: white;
  font-weight: 300;
}
.card{ /* para que la foto sea del porte del card*/
  margin: 0;
  padding: 0;
}
#monta{ /*imagen montania que no coincidia la altura con las otras*/
  height: 191px;
}

/* nombre, asunto, mensaje en seccion contacto*/
.form-label{
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
}

footer{ /* colores y texto del footer*/
  margin: 0;
  padding-inline-start: 17rem;
   background-color: #07caf0;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
#iconos{ /*todos los iconos*/
  padding-left: 10rem;
}